/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/spatialxenium -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// process {
//     resourceLimits = [
//         cpus: 4,
//         memory: '12.GB',
//         time: '1.h'
//     ]
// }

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test with 10x Genomics Xenium kidney datasets'
    validationFailUnrecognisedParams = false

    // Input data - paths relative to workflow launch directory
    input  = "${projectDir}/assets/samplesheet.csv"
    genes  = "${projectDir}/assets/genes.txt"
    reference_rds = "${projectDir}/test_data/ref.rds"  // Reference for label transfer

    // Processing parameters
    min_reads_per_cell         = 10
    max_reads_per_cell         = 1000000
    max_control_prop_per_cell  = 1.0
    n_highly_var_genes         = 1000
    
    // Label transfer parameters
    single_cell_label_col      = "annotation.l1"  // Column name in reference RDS
    min_celltype_probability   = 0.5

    // Output
    outdir = "./test_results"

}
